@font-face {
  font-family: "Lato Medium";
  src: url("../assets/fonts/Lato Medium/Lato Medium.ttf");
}
@font-face {
  font-family: "Lato Regular";
  src: url("../assets/fonts/Lato Regular/Lato Regular.ttf");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../assets/fonts/Lato Bold/Lato Bold.ttf");
}